*{
 padding: 0px;
 margin: 0px;   
}
/* For WebKit browsers */
::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #ffffff48; /* Track (progress bar) background */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ff7d61; /* Scrollbar handle color */
    border-radius: 2px; /* Rounded corners of the handle */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Scrollbar handle color when hovered */
  }
  